<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apidev.megaleios.com/ApiMoralarDev/swagger</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>netcoreapp1.1</TargetFramework>
    <ProjectGuid>192ea4c6-a99f-4cfa-ab57-390ed0e78baf</ProjectGuid>
    <MSDeployServiceURL>apidev.megaleios.com</MSDeployServiceURL>
    <DeployIisAppPath>Apis\ApiMoralarDev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <EnvironmentName>Development</EnvironmentName>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>marcelo</UserName>
    <_SavePWD>true</_SavePWD>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
  </PropertyGroup>
</Project>